<section>
    <h1>Om utbildningen</h1>
    <div class="page-wrapper">
        <div class="list-wrapper">
            <h4>Kurser som ingått:</h4>
            <ul>
                <li *ngFor="let course of courses">{{ course }}</li>
            </ul>
        </div>
        <div class="lia-wrapper">
            <h4>Praktikperioder:</h4>
            <p>{{ liaText }}</p>
        </div>
        <div class="degree-wrapper">
            <h3>Examensarbete:</h3>
            <p>{{ degreeText }}</p>
        </div>
    </div>
</section>
