<section>
    <h1>Om utbildningen</h1>
    <div class="page-wrapper">
    
    <ul>
        
       <li>HTML och CSS</li> 
<li>JavaScript - grundkurs</li>
<li>Agilt projektarbete</li>
<li>API-utveckling</li>
<li>Arbetsmetodik för utvecklare</li>
<li>Grafiska verktyg för gränssnittsdesign</li>
<li>UX Usability</li>
<li>Testning</li>
<li>JavaScript - fördjupning</li>
<li>LIA - Lärande i Arbete</li>
<li>Examensarbete</li>
<li>Kompentensportfölj och Entreprenörskap</li>

    </ul>
    </div>
</section>