<header>
  <nav>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/projects" routerLinkActive="active">Projects</a>
    <a routerLink="/education" routerLinkActive="active">Education</a>
    <a routerLink="/references" routerLinkActive="active">References</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>
</header>

<main class="main">
  <div class="content">
    <h1>{{ title }}</h1>
  </div>
</main>

<router-outlet></router-outlet>  <!-- Här visas komponenter beroende på vald rutt -->
