
    <header>
        <nav>
          <a routerLink="/home" routerLinkActive="active">Home</a>
          <a routerLink="/projects" routerLinkActive="active">Projects</a>
          <a routerLink="/education" routerLinkActive="active">Education</a>
          <a routerLink="/references" routerLinkActive="active">References</a>
          <a routerLink="/contact" routerLinkActive="active">Contact</a>
        </nav>
      </header>
      
      <main>
        <!-- Här kommer de olika komponenterna visas beroende på routing -->
        <router-outlet></router-outlet>
      </main>
      

      <footer>
        &copy; 2025 Anna Karlsen
      </footer>
