<header>
  <button class="hamburger-menu" (click)="toggleMenu()">
    {{ isMenuOpen ? '✖' : '☰' }}
  </button>
  
  <nav [ngClass]="{ 'open': isMenuOpen }">
    <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Hem</a>
    <a routerLink="/projects" routerLinkActive="active" (click)="closeMenu()">Projekt</a>
    <a routerLink="/education" routerLinkActive="active" (click)="closeMenu()">Om utbildningen</a>
    <a routerLink="references" routerLinkActive="active" (click)="closeMenu()">Referenser</a>
    <a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Kontakt</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
