<section>
    <div class="page-wrapper">
        <h1>Anna Karlsen</h1>
    
    <p>Kort presentation av mig och vad jag har för erfarenhet. </p>
    <div class="home-content">
        Lite bakgrund, tidigare erfarenheter och utbildning
        Lite bakgrund, tidigare erfarenheter och utbildning
        Lite bakgrund, tidigare erfarenheter och utbildning
        Lite bakgrund, tidigare erfarenheter och utbildning
        Lite bakgrund, tidigare erfarenheter och utbildning
        och i stort sett bara löpande text så att det fylls ut lite på sidan
    </div>
    <div class="home-content">
        Och så ännu mer text så att det fylls ut mer på sidan
    </div>



    
</div>
</section>