<section>
  <div class="page-wrapper">
    <h1>Anna Karlsen Portfolio</h1>

    <div class="home-content">
      <h2>Är man någonsin klar med att lära sig nytt, eller för gammal för
      att vara nyfiken på nya erfarenheter och ny kunskap? 
      <br>
      Jag tror inte det.
    </h2>
    </div>
    <p>
      Hösten 2023 tog nyfikenheten överhanden då jag kände att jag vill få
      utlopp för kreativitet inte bara på fritiden, utan även i arbetslivet, och
      jag valde att kliva in i en ny fas av mitt liv. En fas som innebar att
      kasta mig handlöst in i en YH-utbildning till Front End Developer.
    </p>
    <p>
      Vad som har ingått i den resan kan du se under
      <strong>Om Utbildingen</strong>, och lite av det jag har åstadkommit på
      utanför skolarbetet finns att se under <strong>Projekt</strong>.
    </p>
    <div class="sign">Välkommen</div>
  </div>

</section>
