section {
    margin: 100px auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
}

.page-wrapper {
    background-color: var(--bg-light);
    padding: 20px;
    border-radius: var(--border-radius);
    width: 90%;
    box-sizing: border-box;

}