/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #ffd700;
    --primary-hover: #f4780c;
    --text-color: #212121;
    --header-color: #212121;
    --bg-dark: #d5d5d5;
    --bg-light: #f9f9f9;
    --border-color: #ccc;
    --input-padding: 10px;
    --border-radius: 4px;
}
* {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
