/* You can add global styles to this file, and also import other style files */
* {
    background-color: #f2d9ce;
    color: #220300;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
